@{
    ViewData["Title"] = "О нас";
}
<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать в [Название вашей компании] — ваш надежный партнер в аренде автомобилей. Мы предлагаем широкий выбор современных и комфортабельных автомобилей для любых нужд: от короткосрочной аренды на выходные до долгосрочных решений для бизнеса.</p>
<p>Наша компания была основана с целью предоставить клиентам высококачественные услуги аренды автомобилей, сочетая доступные цены, отличный сервис и удобство. Мы гордимся тем, что предлагаем только проверенные и надежные автомобили, которые проходят регулярное техническое обслуживание и контроль качества.</p>

