@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>

<p>Мы всегда рады помочь вам! Если у вас есть вопросы, предложения или вам нужна помощь с бронированием автомобиля, не стесняйтесь обращаться к нам. Наша команда готова ответить на все ваши запросы и предоставить необходимую информацию.</p>
<ul>
    <li><span>Телефон: 89991967395</span></li>
    <li><span>Электронная почта: rentcar@mail.ru</span></li>
    <li><span>Адрес: Ульяновск</span></li>
</ul>
